
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156160820-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-156160820-1');
    </script>
    <title> Contact Us | Pixthon.com | Photography Solutions </title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="SemiColonWeb" />
    <meta name="description" content="You can contact us through the form or reach out directly on the given address, email id or phone number. For enquiry call on +91 7039851605. ">
    <meta name="keyword" content="Photobook, Wedding Album, Photography, Online photobooks, Online ebooks, Photobook India, Album design, Wedding album design,   Photography agency in Mumbai, Web designing.">
    <link rel="icon" type="image/png" href="~/Content/Pixthonmainsite/images/media/favicon.png">
    <!-- Style CSS -->

    <link href="~/Content/Pixthonmainsite/css/style.css" rel="stylesheet" />
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '2539449009647176');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=2539449009647176&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
</head>
<body class="index-opt-1 catalog-product-view catalog-view_op1">
    <div class="wrapper">
        <!-- HEADER -->
        <header class="site-header header-opt-1 cate-show">

            <!-- header-top -->
            <div class="header-top">
                <div class="container">
                    <!-- nav-left -->
                    <ul class="nav-left">
                        <li><span><i class="fa fa-phone" aria-hidden="true" style="color:#3e0938;"></i> +91 7039851605</span></li>
                        <li><span><i class="fa fa-envelope" aria-hidden="true" style="color:#3e0938;"></i> sales@pixthon.com</span></li>

                    </ul><!-- nav-left -->
                    <!-- nav-right -->
                    <ul class=" nav-right">

                        <li><a href="https://www.instamojo.com/&#64Pixthon/" rel="im-checkout" data-style="none" data-behaviour="remote" data-text="PAYMENT"></a></li>
                        <script src="https://js.instamojo.com/v1/button.js"></script>
                        <li><a href="http://pixthon.com/SignIn.aspx" style="color:#3e0938;margin-top:15px; "><b>LOGIN</b></a></li>
                        <li><a href="http://pixthon.com/Registration.aspx" style="color:#3e0938;"><b>REGISTER</b></a></li>
                    </ul><!-- nav-right -->

                </div>
            </div><!-- header-top -->
            <!-- header-content -->
            <div class="header-content" style="background: rgb(62,9,56);
background: radial-gradient(circle, rgba(62,9,56,0.8407738095238095) 46%, rgba(62,9,56,1) 100%, rgba(239,239,239,1) 100%);">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 nav-left">
                            <!-- logo -->
                            <strong class="logo">
                                <a href="index.html"><img src="images/media/logo.png" alt="logo"></a>
                            </strong>
                        </div>
                        <div class="nav-right">
                            <!-- block mini cart -->
                            <div class="block-minicart dropdown">
                                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                    <!--  <span class="cart-icon"></span> -->
                                    <span class="counter qty1">
                                        <a href="http://profile.pixthon.com/" target="_blank"><span class="cart-text" style="color:#fff;"><b>UPLOAD FILES</b></span></a>

                                    </span>
                                    <span class="counter qty1">
                                        <a href="http://profile.pixthon.com/PhotographerProfile" target="_blank"><span class="cart-text" style="color:#fff;">&nbsp;&nbsp;&nbsp;&nbsp;<b>EALBUM</b></span></a>
                                    </span>
                                </a>
                            </div>

                        </div>

                        <div class="nav-mind">
                            <!-- block search -->
                            <div class="block-search">
                                <div class="block-title">
                                    <span>Search</span>
                                </div>
                                <div class="block-content">
                                    <div class="categori-search  ">
                                        <select data-placeholder="All Categories" class="categori-search-option">
                                            <option>All Categories</option>
                                            <option>Photobook</option>
                                            <option>Poster</option>
                                            <option>Print</option>
                                            <option>Calendar</option>
                                            <option>Design</option>
                                            <option>Website</option>
                                            <option>Logo</option>
                                            <option>Image Touch Up</option>
                                        </select>
                                    </div>
                                    <div class="form-search">
                                        <form>
                                            <div class="box-group">
                                                <input type="text" class="form-control" placeholder="i'm Searching for...">
                                                <button class="btn btn-search" type="button"><span>search</span></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div><!-- header-content -->
            <!-- header-nav -->
            <div class="header-nav mid-header">
                <div class="container">

                    <div class="box-header-nav">

                        <!-- btn categori mobile -->
                        <span data-action="toggle-nav-cat" class="nav-toggle-menu nav-toggle-cat"><span>Categories</span></span>

                        <!-- btn menu mobile -->
                        <span data-action="toggle-nav" class="nav-toggle-menu"><span>Menu</span></span>

                        <!--categori  -->
                        <div class="block-nav-categori">

                            <div class="block-title">
                                <span>Categories</span>
                            </div>

                            <div class="block-content">
                                <div class="clearfix"><span data-action="close-cat" class="close-cate"><span>Categories</span></span></div>
                                <ul class="ui-categori">
                                    <li>
                                        <a href="photobook.html">
                                            <span class="icon"><img src="images/icon/index1/nav-cat4.png" alt="nav-cat"></span>
                                            Photobook
                                        </a>
                                    </li>
                                    <li>
                                        <a href="poster.html">
                                            <span class="icon"><img src="images/icon/index1/nav-cat4.png" alt="nav-cat"></span>
                                            Poster
                                        </a>
                                    </li>
                                    <li>
                                        <a href="print.html">
                                            <span class="icon"><img src="images/icon/index1/nav-cat4.png" alt="nav-cat"></span>
                                            Print
                                        </a>
                                    </li>
                                    <li>
                                        <a href="calendar.html">
                                            <span class="icon"><img src="images/icon/index1/nav-cat4.png" alt="nav-cat"></span>
                                            Calendar
                                        </a>
                                    </li>
                                    <li>
                                        <a href="album-design.html">
                                            <span class="icon"><img src="images/icon/index1/nav-cat4.png" alt="nav-cat"></span>
                                            Design
                                        </a>
                                    </li>
                                    <li>
                                        <a href="website.html">
                                            <span class="icon"><img src="images/icon/index1/nav-cat4.png" alt="nav-cat"></span>
                                            Website
                                        </a>
                                    </li>
                                    <li>
                                        <a href="logo.html">
                                            <span class="icon"><img src="images/icon/index1/nav-cat4.png" alt="nav-cat"></span>
                                            Logo
                                        </a>
                                    </li>
                                    <li>
                                        <a href="image-touch-up.html">
                                            <span class="icon"><img src="images/icon/index1/nav-cat4.png" alt="nav-cat"></span>
                                            Image Touch Up
                                        </a>
                                    </li>

                                </ul>

                                <div class="view-all-categori">
                                    <a class="open-cate btn-view-all">All Categories</a>
                                </div>

                            </div>

                        </div><!--categori  -->
                        <!-- menu -->
                        <div class="block-nav-menu">
                            <div class="clearfix"><span data-action="close-nav" class="close-nav"><span>close</span></span></div>
                            <ul class="ui-menu">
                                <li class="parent parent-megamenu active"><a>Home</a><span class="toggle-submenu"></span></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </div>
                        <!-- menu -->
                    </div>
                </div>
            </div>
            <!-- header-nav -->
        </header>
        <!-- MAIN -->
        <main class="site-main">
            <div class="columns container">
                <ol class="breadcrumb no-hide">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                </ol>
                <!-- Block  Breadcrumb-->

                <div class="row">
                    <!-- Main Content -->
                    <div class="page-content" id="contact">
                        <div class="row">
                            <div class="col-sm-6">
                                <h3 class="page-subheading" style="color:#3e0938;">Send us an Email</h3>
                                <div id="EnquiryAlert" class="alert alert-danger background-danger" style="display:none">
                                    <span class="closeBtn" onclick="closeAlertEnquiry(); return false">&times;</span>
                                    <strong>!</strong>
                                </div>
                                <div class="contact-form-box">
                                    <div class="form-selector">
                                        <label>Name</label>
                                        <input type="text" id="custname" class="form-control input-sm">
                                    </div>
                                    <div class="form-selector">
                                        <label>Email Address</label>
                                        <input type="text" id="custemail" class="form-control input-sm">
                                    </div>
                                    <div class="form-selector">
                                        <label>Services</label>
                                        <select id="service" class="form-control input-sm">
                                            <option value="Photobooks">Photobooks</option>
                                            <option value="Album Design">Album Design</option>
                                            <option value="Website Design">Website Design</option>
                                            <option value="Digital Marketing">Digital Marketing</option>
                                        </select>
                                    </div>
                                    <div class="form-selector">
                                        <label>Contact No.</label>
                                        <input type="text" id="custphone" class="form-control input-sm">
                                    </div>
                                    <div class="form-selector">
                                        <label>Message</label>
                                        <textarea id="custmsg" rows="10" class="form-control input-sm" style="height:100px;"></textarea>
                                    </div>
                                    <div class="form-selector">
                                        <button class="btn" id="btn-send-contact" onclick="Enquiry()">Send</button>
                                    </div>
                                </div>
                            </div>
                            <div id="contact_form_map" class="col-xs-12 col-sm-6">
                                <h3 class="page-subheading" style="color:#3e0938;">Address</h3>
                                <ul class="store_info" style="color:#333;">
                                    <li>
                                        <i class="fa fa-home"></i>Pixthon Digital Solutions Pvt Ltd.
                                        Plot No. 39/3, 16th Floor/1605,
                                        Haware Infotech Park, Sector 30A,
                                        Vashi, Navi Mumbai,
                                        Maharashtra-400703
                                    </li>
                                    <li><i class="fa fa-phone"></i><span><a href="#">022-20879555</a></span></li>
                                    <li><i class="fa fa-envelope"></i><span><a href="#">sales@pixthon.com</a></span></li>
                                </ul>
                                <br> <br>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.9574628969635!2d72.99722471437666!3d19.065607757254835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c7e136fd115b%3A0x48cb8f4c4a3ba7ce!2sPixthon+Digital+Solutions+Pvt+Ltd!5e0!3m2!1sen!2sin!4v1562222501830!5m2!1sen!2sin" width="100%" height="300px;" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- end MAIN -->
        <!-- FOOTER -->
        <footer class="site-footer footer-opt-1" style="background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);">
            <div class="container">
                <div class="footer-column">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 col-xs-6 col">
                            <div class="links">
                                <h3 class="title">About Us</h3>
                                <p style="text-align: justify;">Pixthon is one stop solution for the professional photographers. We are always happy to help in the best possible way. Be it photo books, album designing or website designing, Pixthon has everything sorted for you.</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xs-6 col">
                            <div class="links">
                                <h3 class="title" style="padding-left:30px;">Quick Links</h3>
                                <ul>
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="blog.html">Blogs</a></li>
                                    <li><a href="faq.html">FAQ'S</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                    <li><a href="terms-of-use.html">Terms &amp; Conditions</a></li>
                                    <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xs-6 col">
                            <div class="links">
                                <h3 class="title" style="padding-left:30px;">Categories List</h3>
                                <ul>
                                    <li><a href="photobook.html">Photobook</a></li>
                                    <li><a href="print.html">Print</a></li>
                                    <li><a href="poster.html">Poster</a></li>
                                    <li><a href="calendar.html">Calendar</a></li>
                                    <li><a href="album-design.html">Design</a></li>
                                    <li><a href="website.html">Website</a></li>
                                    <li><a href="logo.html">Logo</a></li>
                                    <li><a href="image-touch-up.html">Image Touch Up</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-3 col-lg-3 col-xs-6 col">

                            <div class="block-social">
                                <!--<div class="block-title">Let’s Socialize </div>-->

                                <div class="links">
                                    <h3 class="title">Address</h3>
                                    <b>
                                        Pixthon Digital Solutions Pvt Ltd.
                                        Plot No. 39/3, 16th Floor/1605,
                                        Haware Infotech Park, Sector 30A,
                                        Vashi, Navi Mumbai,
                                        Maharashtra-400703
                                    </b>
                                </div>

                                <div class="block-content">
                                    <a href="https://www.facebook.com/pixthondigitalsolutions/" class="sh-facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="https://www.linkedin.com/company/pixthon-digital-solutions-pvt-ltd/" class="sh-linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    <a href="https://www.instagram.com/pixthondigitalsolutions/" class="sh-instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="copyright">
                    <b> © 2020. All Rights Reserved. Designed By <a href="http://pixthon.com/" target="_blank">Pixthon</a></b>
                </div>
            </div>
        </footer>

        <!--back-to-top  -->
        <a href="#" class="back-to-top">
            <i aria-hidden="true" class="fa fa-angle-up"></i>
        </a>

    </div>


    <!-- jQuery -->
    <script type="text/javascript" src="~/Content/Pixthonmainsite/js/jquery.min.js"></script>

    <!-- sticky -->
    <script type="text/javascript" src="~/Content/Pixthonmainsite/js/jquery.sticky.js"></script>

    <!-- OWL CAROUSEL Slider -->
    <script type="text/javascript" src="~/Content/Pixthonmainsite/js/owl.carousel.min.js"></script>

    <!-- Boostrap -->
    <script type="text/javascript" src="~/Content/Pixthonmainsite/js/bootstrap.min.js"></script>

    <!-- Countdown -->
    <script type="text/javascript" src="~/Content/Pixthonmainsite/js/jquery.countdown.min.js"></script>

    <!--jquery Bxslider  -->
    <script type="text/javascript" src="~/Content/Pixthonmainsite/js/jquery.bxslider.min.js"></script>

    <!-- actual -->
    <script type="text/javascript" src="~/Content/Pixthonmainsite/js/jquery.actual.min.js"></script>

    <!-- jQuery UI -->
    <script type="text/javascript" src="~/Content/Pixthonmainsite/js/jquery-ui.min.js"></script>

    <!-- Chosen jquery-->
    <script type="text/javascript" src="~/Content/Pixthonmainsite/js/chosen.jquery.min.js"></script>

    <!-- parallax jquery-->
    <script type="text/javascript" src="~/Content/Pixthonmainsite/js/jquery.parallax-1.1.3.js"></script>

    <!-- elevatezoom -->
    <script type="text/javascript" src="~/Content/Pixthonmainsite/js/jquery.elevateZoom.min.js"></script>

    <!-- fancybox -->
    <script src="~/Content/Pixthonmainsite/js/fancybox/source/jquery.fancybox.pack.js"></script>
    <script src="~/Content/Pixthonmainsite/js/fancybox/source/helpers/jquery.fancybox-media.js"></script>
    <script src="~/Content/Pixthonmainsite/js/fancybox/source/helpers/jquery.fancybox-thumbs.js"></script>

    <!-- arcticmodal -->
    <script src="~/Content/Pixthonmainsite/js/arcticmodal/jquery.arcticmodal.js"></script>

    <!-- Main -->
    <script type="text/javascript" src="~/Content/Pixthonmainsite/js/main.js"></script>

    <!-- Custom scripts -->

    <script>

        (function ($) {

            "use strict";

            $(document).ready(function () {

                /*  [ Filter by price ]

                - - - - - - - - - - - - - - - - - - - - */

                $('#slider-range').slider({

                    range: true,

                    min: 0,

                    max: 500,

                    values: [0, 300],

                    slide: function (event, ui) {

                        $('#amount-left').text(ui.values[0]);
                        $('#amount-right').text(ui.values[1]);

                    }

                });

                $('#amount-left').text($('#slider-range').slider('values', 0));

                $('#amount-right').text($('#slider-range').slider('values', 1));

                //#region Session Timeout

                $.sessionTimeout({
                    // custom warning message
                    message: 'Your session is about to expire.',

                    // keep alive url
                    keepAliveUrl: '/Home/PixthonContactUs',

                    // request type
                    //keepAliveAjaxRequestType: 'POST',

                    // redirect url
                    redirUrl: '/Login/Index',

                    // logout url
                    logoutUrl: '/Login/Index',

                    // 25 minutes
                    warnAfter: 1500000,

                    // 30 minutes
                    redirAfter: 1800000,

                    // appends time stamp to keep alive url to prevent caching
                    appendTime: true
                });

            //#endregion
            });

        })(jQuery);

         function Enquiry() {

            console.log("In Enquiry");
            var isvalid = Validation1();
            if (isvalid == false) {
                return;
            }
                        $.ajax({
                            url: '@Url.Action("PixthonSubmit", "Home")',
                            type: 'POST',
                            data: "{EmailDetailsModel:{CustName: '" + $('#custname').val() + "',CustEmail:'" + $('#custemail').val() + "',CustPhone:'" + $('#custphone').val() + "',CustMsg:'" + $('#custmsg').val() + "',Category:'" + $('#service').val() + "',PhotographerID:''}}",
                            dataType: 'json',
                            contentType: 'application/json; charset=utf-8',
                            error: function (xhr) {
                                alert('Error: ' + xhr.statusText);
                            },
                            success: function (result) {
                                console.log(result)


                                var msg_type;
                                var msg_title;
                                if (result.Message == 'Email Sent Successfully') {
                                    swal("Success!", "Email Sent Successfully!", "success");
                                    msg_title = 'Success';
                                    msg_type = "success";
                                } else {
                                    swal("Failed!", "Email Sending Fail", "error");
                                    msg_title = 'Error!!!';
                                    msg_type = "danger";
                                }

                                //ShowAlert(msg_title, result.message, msg_type);
                                //$('#ShowAlert').alert();
                            },
                            async: true,
                            processData: false
                        });

        }

        function Validation1() {


            //if ($('#custemail').val() == "") {
            //    ShowAlertEnquiry('Please Provide your Email');
            //    return false;
            //}
            if ($('#custname').val() == "") {
                ShowAlertEnquiry('Please Enter Your Name');
                return false;
            }

            if ($('#custphone').val() == "") {
                ShowAlertEnquiry('Please Provide Your Mobile Number');
                return false;
            }

            if ($('#custemail').val() != "") {
                if (!ValidateEmail($('#custemail').val())) {
                    ShowAlertEnquiry("You have entered an invalid email address!")
                    return false;
                }
            }


            else
                return true;
        }

        function ValidateEmail(mail) {
            if ((/^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/).test(mail)) {
                return (true)
            }

            return (false)
        }

        function ShowAlertEnquiry(msg_body) {
            var AlertMsg = $('#EnquiryAlert');
            $(AlertMsg).find('strong').html(msg_body);
            //$(AlertMsg).find('p').html(msg_body);
            //$(AlertMsg).removeAttr('class');
            //$(AlertMsg).addClass('alert alert-' + msg_type);
            $(AlertMsg).show();
            $('#EnquiryAlert').alert();
        }

        //#region Disable Console

        $(window).on('keydown', function (event) {
            if (event.keyCode == 123) {
                //alert('Entered F12');
                return false;
            }
            else if (event.ctrlKey && event.shiftKey && event.keyCode == 73) {
                //alert('Entered ctrl+shift+i')
                return false;  //Prevent from ctrl+shift+i
            }
            else if (event.ctrlKey && event.keyCode == 73) {
                //alert('Entered ctrl+shift+i')
                return false;  //Prevent from ctrl+shift+i
            }
        });

        $(document).on("contextmenu", function (e) {
            //alert('Right Click Not Allowed')
            e.preventDefault();
        });
        //#endregion


    </script>
</body>
</html>